<!--유저 페이지-->
<!--user_access.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:"http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Simple_member</title>
</head>
<body>
<h1>Simple_Login</h1>
<h3 sec:authorize="isAuthenticated()">반갑습니다. <span sec:authorize="name"></span>님!</h3>
<a sec:authorize="isAnonymous()" th:href="@{/templeate/login}"> 로그인 </a>
<a sec:authorize="isAnonymous()" th:href="@{/templeate/logout}"> 로그아웃 </a>
<a sec:authorize="isAnonymous()" th:href="@{/templeate/signup}"> 회원가입 </a>
</body>
</html>
